
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="home.module" ng-controller="HomeController">
    <h2 align="center">Angular JS Basic Example</h2>
    <h5 align="center">{{number}}</h5>
    <table border="1" cellpadding="10" align="center">
        <tr>
            <td>
                Employee Id
            </td>
            <td>
                Employee Name
            </td>
            <td>
                Address
            </td>
        </tr>
        <tr ng-repeat="emp in employees">
            <td>
                {{emp.zone_id}}
            </td>
            <td>
                {{emp.name}}
            </td>
            <td>
                {{emp.total_topicsl}}
            </td>
        </tr>
    </table>
</div>

